@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  --root-black-color: #222;
  --root-white-color: #fff;
  --root-background: var(--root-white-color);
  --root-text-color: var(--root-black-color);
  --root-brand-color: #6002ee;
  --root-brand-color-10: #b794f6;
  --root-brand-color-20: #efe5fd;
  --root-green-color: #2ed27c;
  --root-green-color-10: rgba(46, 210, 124, 0.4);
  --root-error-color: #e55252;
  --root-link-color: #0185a2;
  --root-link-hover-color: #00a298;
  --root-disabled-color: #aaa;
  --root-font-family: 'Inter', sans-serif;
  --root-font-weight: 300;
}
.anvil-root {
  font-family: 'Inter', sans-serif !important;
}
